<div class="banner shadow" style="background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');"><div class="mb-5 banner-text"><h1 class="pb-1 m-0">Save any kind of movies</h1><h2 class="mt-0 second-line">Classic</h2></div></div>

<div class="container">
  <div class="row above-lists-contents mt-3 mb-3">
    <%# <div class="above-lists-contents mt-3 mb-3"> %>
      <%# <h2 class="btn kill-decoration kill-grabber" id="list-title">my lists</h2> %>
      <p id="add-list-btn"><%= link_to "Create a movie list", new_list_path, class:"btn btn-success white mt-3 mb-3 lighter"%></p>
    <%# </div> %>
  </div>

  <div class="row">

    <div class="if-no-movie">
      <p style="text-align: center;<%= @lists.count == 0 ? 'height: 50vh; display: flex; align-items: center; justify-content: center;' : '' %>">
      <% if @lists.count == (0) %>
      <a href="/lists/new" class="btn">Wanna add a list?</a>
      <% else %>
      <% end %>
      </p>
    </div>

    <% @lists.each do |list| %>
      <div class="col-lg-4 col-md-4 col-sm-12 center">
          <div class="my-card" style=" background-image: url('https://picsum.photos/2000/3000?<%= rand(1..500) %>'); display: flex">
              <div><%= link_to list.name.capitalize, list_path(list), class: "btn color-white index-shadow", style: "padding: 0;" %></div>
          </div>
      </div>
    <% end %>
  </div>
</div>
