.banner {
  height: 35vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  background-position: center;
  margin-bottom: 25px;


  h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-bottom: 40px;
    color: white;
  }
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}



.banner-show {
  height: 35vh;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  background-position: center;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;


  h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: 40px;
    color: white;
  }
}

.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-wrap {
  height: 50%;
  align-self: end;
  margin-right: 45px;
}
