#add-list-btn {
display: flex;
justify-content: flex-end;
margin: auto;
padding-right: 45px;

  @media (max-width: 480px) {
    margin-left: 0px;
    justify-content: center;
  }
  @media (max-width: 768px) {
    margin-left: 0px;
    justify-content: center;
  }
}


#add-movie-btn {
display: flex;
justify-content: flex-end;
margin-right: 45px;

  @media (max-width: 480px) {
    margin-right: 0px;
  }

}

.back-btn {
  margin-left: 45px;
  @media (max-width: 480px) {
    margin-left: 0px;
  }
}

.kill-decoration {
  text-decoration: none;
}

.kill-grabber {
  cursor: default;
}
