.nav-bar {
  background: #000000;
  height: auto;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nav-bar .navbar-collapse {
  flex-grow: 0;
}

.nav-bar .navbar-brand img {
  width: 40px;
}

.nav-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pop-corn {
  font-size: 35px;
  margin-left: 45px;
    a{
    text-decoration: none;
    }
  }
